@{
    ViewData["Title"] = "Galery";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@await Component.InvokeAsync("GaleryV")
@*@RenderBody()*@

@Html.Partial("_OurFriends", @ViewData["OurFriends"])
