@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@Html.Partial("_OurFriends", @ViewData["OurFriends"])

@section footer {
    Dodatkowe info do stopki
}
